body {
  font-family: 'Arima Madurai', cursive;
}
#name {
  font-weight: 900;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  font-weight: bold;
  text-shadow: 1px 1px 3px #1a0111;
}
  .parallax-container .section {
    width: 100%;
  }

.sub-head {
  margin-bottom: 10px;
}

#about {
  font-weight: 700;
}

#greeting {
  text-shadow: 2px 2px 4px black, 0 0 25px rgb(62, 33, 114), 0 0 5px darkblue;
}

#project-row {
  margin-bottom: 0;
}

#portfolio-section {
  font-weight: 800;
  text-shadow: 2px 2px 4px black, 0 0 25px rgb(62, 33, 114), 0 0 5px darkblue;
}

.card-title {
  text-shadow: 1px 1px 1px rgb(22, 22, 22);
}

.card-reveal{
  color: #ffffff;
  background-color: rgba(0,0,0,0.7) !important;
}
div.card-reveal span.card-title{
  color: #ffffff !important;
} 

.carousel-item {
  background-size: cover;
  background-color: rgba(66, 66, 99, 0.7);
  background-blend-mode: multiply;
  border-radius: 30px;
}

.project-title {
  font-weight: 800;
  text-shadow: 1px 1px 3px #1a0111;
}

.material-icons, 
a {
  font-size: 40px !important;
  text-transform: lowercase !important;
  font-weight: 800;
  text-shadow: 1px 1px 2px black, 0 0 8px rgb(62, 33, 114), 0 0 3px darkblue;
}

.contact-link {
  padding: auto 20px !important;
}

#crystal-collector {
  background-image: url("../images/crystal_collector.png");
}

#camelot-quiz {
  background-image: url("../images/trivia_js_.png");
}

#word-guess {
  background-image: url("../images/word_guess_game.png")
}

#cinema-savvy {
  background-image: url("../images/cinema_savvy.png")
}

p {
  font-size: 24px;
}

.no-shadow {
  text-shadow: none;
}
.sparks {
  text-shadow: 2px 2px 4px black, 0 0 25px rgb(62, 33, 114), 0 0 5px darkblue;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


